<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyyhub.bookCity.mapper.OrderBeanMapper">


    <insert id="addOrder" parameterType="OrderBean"  useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" keyColumn="id" resultType="java.lang.Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>-->
        insert  into t_order
            (`id`,`orderNo`,`orderDate`,`orderUser`,`orderMoney`,`orderStatus`)
        values
            (null,#{orderNo},#{orderDate},#{orderUser},#{orderMoney},#{orderStatus})
    </insert>



    <select id="getListByUserId" resultType="OrderBean">
        select * from t_order where orderUser = #{userId};
    </select>

    <select id="getTotalCount" parameterType="OrderBean" resultType="java.lang.Integer">
        select sum(buyCount) as totalBookCount from t_order t1 left join t_order_item t2 on t1.id = t2.orderBean where orderBean = #{id};
    </select>
</mapper>