<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyyhub.bookCity.mapper.OrderItemMapper">

    <select id="getOrderListByOrderBeanId" resultType="OrderItem">
        select * from t_order_item where orderBean = #{orderBeanId};
    </select>

    <insert id="addOrderItem" parameterType="OrderItem" >
        insert into t_order_item
            (`id`,`book`,`buyCount`,`orderBean`)
        values
            (null,#{book},#{buyCount},#{orderBean})
    </insert>

</mapper>